DirectoryIndex index.html
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si estamos en entorno de desarrollo ip
    RewriteCond %{HTTP_HOST} ^10\.199\.11\.252$ [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://10.199.11.252/$1 [R,L]

    # Si estamos en entorno de desarrollo url
    RewriteCond %{HTTP_HOST} ^daw211\.local\.ieslossauces\.es$ [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://daw211.local.ieslossauces.es/$1 [R,L]

    # Si estamos en entorno de explotación
    RewriteCond %{HTTP_HOST} ^jesustemgal\.ieslossauces\.es$ [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://jesustemgal.ieslossauces.es/$1 [R,L]
</IfModule>