:root {
    --altoHeader: 5em;
    --altoFooter: 4.5em;
}
* { box-sizing: border-box; }
body { margin: 0; font-family: Arial, sans-serif; }
h1,h2,h3,p { margin: 0; }
header { height: var(--altoHeader); background: #4e9645; }
footer { height: var(--altoFooter); background: #459650; }
main { min-height: calc(100vh - var(--altoHeader) - var(--altoFooter)); }
header,footer {
    color: white;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
footer {
    padding-top: 25px;
    flex-flow: row nowrap;
    a {
        text-decoration: aquamarine wavy underline;
        color: aquamarine;
        transition: 0.3s;
    }
    a:hover {
        color: blue;
        mix-blend-mode: multiply;
        text-decoration: none;
    }
}